{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class=row>
    <div class="col-md-3"></div>
    <div class="col-md-6">

        <div class="jumbotron" style="width: 54rem;">
            <div class="title">
                {{blog.title}}
            </div>
            <div class="card-body">
                {{blog.blog}}
            </div>
            <div class=row>
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="comment" style="margin-bottom: 3rem">
                        {{wtf.quick_form(comment)}}
                    </div>
                    <div class="delete/update">
                        <form class="inline" method="post">
                            <a href="/{{blog.title}}/comment">{{delete.delete}}</a>
                            <!-- {{delete.delete}} -->
                            <label for="email" style="margin: 10px;"></label>
                            <a href="/{{blog.title}}/comment">{{update.update}}</a>
                            <!-- <button class="bg-success" style="color:  green"></button> -->
                            <br>
                            <label for="name" style="margin: 10px;"></label>
                        </form>

                    </div>

                </div>
            </div>

        </div>

        <div class="col-md-3"></div>
    </div>

    {% endblock %}