<!-- <link rel="stylesheet" href="../static/bootstrap.css">
<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body>

    <div class="navbar navbar-inverse" role="navigation" style="background-color: bisque; border-radius: 0;">
        <div class="container-fluid" style="margin-left: 35%;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" style="margin-left: 55%;color: black;"> BlogMe </a>
                <br>
            </div>
            <div class="navbar-collapse collapse">
                <br><br><br>
                <ul class="nav navbar-nav">
                    <li><a href="/" style="color: black;">Home</a></li>
                    <li><a href="/profile" style="color: black;">Profile</a></li>
                    <li><a href="/pitch/new" style="color: black;">Add Blog</a></li>
                    <li><a href="/logout" style="color: black;">Log Out</a></li>
            </div>
        </div>
    </div>
</body>

</html> -->

<nav class="navbar navbar-dark bg-success" style="background-color:cadetblue; border-radius: 0%;border-bottom: 10%;">
    <div class="navbar-collapse" style="">
        <div class="header" style="text-align:center;margin-right: 4%;">BlogMe</div>
        <br>
        <div class="list" style="text-align:center; text-decoration: none;">
            <button><a href="/"
                    style="color: black; margin: 1% 1% 0% 5%; text-decoration-color: none;">Home</a></button>
            <a href="/profile" style="color: black;margin: 1% 5% 0% 5%;">Profile</a>
            <a href="/blog/new" style="color: black;margin: 1% 5% 0% 5%;">Add Blog</a>
            <a href="/login" style="color: black;margin: 1% 5% 0% 5%;">Log In</a>
            <a href="/logout" style="color: black;margin: 1% 5% 0% 5%;">Log Out</a>
        </div>
    </div>
</nav>